* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-weight: bold; */
    color: #262626;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    display: block;
}

title {
    display: none;
}

/* Get the fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
    font-family: Norse;
    src: url('Norse-Bold.otf');
}

@font-face {
    font-family: Norse;
    font-weight: bold;
    src: url('Norse-Bold.otf');
}

/* Left */
.left .logo-bar img {
    width: 30%;
}

.logo-bar {
    background: rgb(0, 0, 0, 0.6);
    /* opacity: 0.1; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.logo-bar h1 {
    font-size: 7em;
    font-family: Norse;
    color: white;
}

/* Right */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 15px 2px #ddd;
    /* padding: 10px; */
    /* height: 90vh; */
    /* width: 90%; */
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}

.left {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    height: 100%;
    width: 35%;
    flex: 1 1 40%;
}

.right {
    flex: 1 1 65%;
    /* margin: 10px; */
    background: #FAFAFA;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding-block-start: 10%; */
    /* padding: 2rem 2rem; */
}

.right>* {
    /* padding: 10px 20px; */
    padding: 3rem 2rem;
}


.input-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid salmon; */
    background: #FFF;
    box-shadow: 0px 3px 5px -2px rgb(0 0 0 / 50%);
    font-weight: lighter;
    border-radius: 20px;
}

.input-form .inner-content {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* border: 2px solid salmon; */
}


.form-row {
    /* border: 2px solid blue; */
    flex: 1 1 50%;
    padding-bottom: 1em;
    min-height: 50px;
    /* display: flex; */
    /* justify-content: flex-start; */
}

input {
    border-radius: 5px;
}

/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.right p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Button */
.button-area {
    display: flex;
    flex-direction: column;
}

.button-area>* {
    flex: 1;
}

.button-area a {
    display: inline-block;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    padding: 10px 24px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 25%;
}

.button-area a {
    color: #596D48;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-decoration: none;
}