:root {
    /* background-color: */
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    background-color: #c5c3c6;
}

.header {
    border-bottom: 5px solid black;
    font-size: 100px;
    text-align: center;
    color: #b0e4db;
    background-color: #4c5c68;
}

.main {
    text-align: center;
    width: 80%;
    margin: auto;
    align-items: center;
}

.main p {
    /* display: block; */
    font-size: 1.6em;
}

.board {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    background: rgb(12, 57, 97);
    width: 462px;
    /*.cell width * 3 + border should be equal to this value*/
    border-radius: 8px;
}

.cell {
    border: 2px solid brown;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    line-height: 150px;
    font-size: 50px;
    background: whitesmoke;
    font-weight: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.cell:hover {
    opacity: 0.6;
    cursor: pointer;
}

span {
    background-color: red;
    width: 100%;
    height: 1em;
    display: inline-block;
}

.start {
    width: 150px;
    /* height: 30px; */
    color: #b0e4db;
    background-color: #4c5c68;
    border-radius: 5px;
    font-size: 1.6em;
}

.github-link {
    display: block;
    margin: 3em 3em 0 0;
    position: absolute;
    right: 0;
    transition: all 0.4s ease-out;
    top: 0;
}

.github-link:hover,
.github-link:focus {
    transform: rotate(360deg) scale(2);
}

.github-icon {
    background: azure;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5));
    height: 2.5em;
    width: 2em;
    transition: all 0.3s ease-out;
}

.github-link:hover .github-icon,
.github-link:focus .github-icon {
    filter: drop-shadow(0 0 0.2em #6e8fa7);
}

.github-path {
    fill: #6e8fa7;
}