@import "../node_modules/tabulator-tables/dist/css/tabulator_site.min.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.content {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 10fr;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    /* line-height: 3rem; */
    height: 100vh;
    font-family: 'helvetica neue';
}

.header {
    grid-area: 1 / 1/ 2 / 3;
    font-size: 1.2em;
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 5px;
    color: #072238;
    background: rgba(58, 56, 56, 0.3);
}

.header>* {
    display: inline-block;
    padding-left: 30px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: start;
    color: rgb(70, 77, 165);
    padding: 10px;
    background: #ffc80059;
    align-items: center;
}

.sidebar ul {
    /* display: flex;
    flex-direction: column; */
    list-style: none;
    padding-top: 50%;
}

.sidebar ul li {
    /* flex: 1; */
    padding-bottom: 20px;
    font-size: 0.9em;
}

.sidebar .tabs {
    flex: 2;
    font-size: 1.3em;
}

.sidebar .projects {
    color: black;
    flex: 3;
}

.clickable {
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

.sidebar ul li:before {
    content: "";
    display: inline-block;
    content: url("https://img.icons8.com/office/16/000000/search--v1.png");
    margin-right: 5px;
}

.clickable:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.main {
    padding: 20px;
    background: rgba(128, 0, 0, 0.356);
}

.overlayButton {
    position: absolute;
    display: block;
    /* width: 200px;
    height: 100px; */
    margin: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 40px;
    line-height: 100px;
    font-size: 20px;
    color: #d9eaf3;
    /* top: 0;
    left: 0; */
    right: 0;
    bottom: 3%;
    background-color: rgba(56, 34, 153, 0.5);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}

.overlayButton:hover {
    zoom: 1.2;
}

.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.activeProject {
    text-decoration: underline;
}

.add-items {
    /* margin-top: 20px; */
    margin: auto;
    width: 35%;
    background: #cadce6;
    padding: 15px;
}

.add-items input {
    display: block;
    flex:1;
    padding: 20px;
    /* margin: 10px; */
    outline: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

.main h1 {
    text-align: center;
    margin: 10px;
}